.container {
  margin-top: 50px;
}

.title {
  color: var(--softTextColor);
  margin-bottom: 30px;
}

.write {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  width: 100%;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 20px;
}


.button {  
  width: fit-content;
  align-self: flex-end;
  bottom: 0;
  right: 0;
  padding: 8px 20px;
  background-color: #0768EA;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments {
  margin-top: 50px;
}

.comment {
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-weight: 500;
}

.date {
  font-size: 14px;
}


.desc {
  font-size: 18px;
  font-weight: 300;
}